<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ollas Comunes</title>
  <!-- Plugins CSS -->
        <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'image/olla-icon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.3.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/meanmenu/meanmenu.css' %}">
  <!-- fonts -->
  <link rel="stylesheet" href="{% static 'fonts/ep-icon-fonts/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/fontawesome-5/css/all.min.css' %}">
  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/settings.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--====== Morphext css ======-->
    <link rel="stylesheet" href="{% static 'css/morphext.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">


</head>

<body>
<div class="site-wrapper">
    <header class="site-header">
        <div class="container">
            <div class="row justify-content-center align-items-center position-relative">
                <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
                    <div class="brand">
                        {% if nosotros.logo.url != None %}
                        <a href=""><img src="{{ nosotros.logo.url }}" alt="" /></a>
                        {% else %}
                        <h3>Ollas Comunes</h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-lg-3 col-xl-3 d-none d-sm-block order-lg-3">
                    <div class="header-btns">
                        <div class="btn-1">
                            <a href="{% url 'landing:registrar'%}">Registrar mi vecindad</a>
                        </div>
                        <div class="btn-2">
                            <a href="#ayudar">Ayudar</a>
                        </div>
                    </div>
                </div>
                <!-- Menu Block -->
                <div class="col-sm-1 col-6 col-lg-7 col-xl-6 offset-xl-1 position-static order-lg-2">
                    <div class="main-navigation">
                        <ul class="main-menu">
                            <!--<li class="menu-item has-dropdown">
                                <a href="#features">#JuntosPodemos</a>
                                    <ul class="menu-dropdown">
                                        <li class="single-item">
                                            <a href="../s01/index.html">
                                            <h3>Ayudar desde casa a las personas que <strong>hoy</strong> lo necesitan</h3>
                                            <p>Todo suma: víveres, frazadas, ropa de abrigo y lo que puedas aportar.</p>
                                            </a>
                                        </li>
                                        <li class="single-item">
                                            <a href="../s02/index.html">
                                                <h3>Web Application</h3>
                                                <p>Best for Mobile App Presentation</p>
                                            </a> 
                                        </li>
                                        <li class="single-item">
                                            <a href="../s03/index.html">
                                                <h3>SaaS Application</h3>
                                            <p>Best for Mobile App Presentation</p>
                                        </a> 
                                        </li>
                                        <li class="single-item">
                                            <a href="../s04/index.html">
                                                    <h3> SaaS Subscription</h3>
                                                <p>Best for Mobile App Presentation</p>
                                            </a> 
                                        </li>
                                    </ul>
                                </li>-->
                            <li class="menu-item "><a href="#features">Inicio</a></li>
                    
                            <li class="menu-item"><a href="#why">Por qué Ayudar</a></li>
                    
                            <li class="menu-item"><a href="#how">Cómo ayudar</a></li>
                            <li class="menu-item"><a href="#contact">Contáctanos</a></li>
                            </ul>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </header>
  <!-- Hero Area  -->
  <section class="hero-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 order-lg-2">
          <div class="hero-image">
            <img src="{% static '/image/hero-image.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="hero-content">
              <span id="js-rotating1" >{{ banner.titulo }}, {{ banner.titulo2 }}</span>
              <p>{{ banner.description|safe }}
            </p>
            <div class="hero-form">
              <form action="{% url 'landing:ayudar' %}"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" name="phone" placeholder="Ingresa tu número <3">
                  <button class="submit-btn">Sumarme</button>
                </div>
                <p class="form-text">¿Representas una <strong>#OllaComún</strong>? <a href="{% url 'landing:registrar'%}" class="link"> Regístrate</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Features Area  -->
  <section class="feature-section" id="why">
        <div class="shape">
                <img src="{% static '/image/landing-1-shape.svg' %}" alt="">
          </div>
      <div class="container">
          <div class="section-title text-center">
              <h2>¿Por qué ayudar?</h2>
          </div>
          <div class="row mb-d-30">
              <div class="col-md-6 col-lg-4 mb--30">
                  <div class="feature-card">
                      <div class="card-icon">
                          <i class="icon icon-users-mm"></i>
                      </div>
                      <div class="card-content">
                          <h3>Hermanos Peruanos</h3>
                          <p>La hermandad peruana es nuestra mejor arma contra esta #Guerra y apoyarnos es la mejor estrategia. Las #OllasComunes son muestra de dicha hermandad y debemos fortalecerla =)</p>
                              <!--<a href="" class="btn btn-link right-icon">Learn more <i class="icon icon-minimal-right"></i></a>-->
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 mb--30">
                  <div class="feature-card">
                      <div class="card-icon">
                          <i class="icon icon-world-2"></i>
                      </div>
                      <div class="card-content">
                          <h3>Situación en el #Mundo</h3>
                          <p>La pandemia #Covid19 ha agravado las pobreza y pobreza extrema en el Mundo y también en el Perú.</p>
                              <!--<a href="" class="btn btn-link right-icon">Learn more <i class="icon icon-minimal-right"></i></a>-->
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4 mb--30">
                  <div class="feature-card">
                      <div class="card-icon">
                          <i class="icon icon-broken-heart"></i>
                      </div>
                      <div class="card-content">
                          <h3>La ayuda no está llegando</h3>
                          <p>Las #OllasComunes en el Perú han sido olvidadas por el Gobierno y son la principal fuente de alimentación de miles de peruanos.</p>
                              <!--<a href="" class="btn btn-link right-icon">Learn more <i class="icon icon-minimal-right"></i></a>-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </section>

  <!-- Features Area  -->
  <section class="content-section-01" id="how">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5  col-sm-6 col-10">
                    <div class="content-img">
                        <img src="{% static '/image/content-image-1.png' %}" alt="">
                    </div>
                </div>

                <div class="col-xl-5 offset-xl-1 col-sm-6">
                    <div class="content-right-content">
                        <h2>TODO SUMA: Víveres, frazadas, alimentos y muchas cosas más <3</h2>
                        <p>
                            Empaca todo lo que creas conveniente en una caja o mochila y escríbenos para poder gestionar tu ayuda =)
                        </p>
                        <!--<div class="content-link">
                            <a href="">Learn more <i class="icon icon-minimal-right"></i></a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
  <section class="content-section-02">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 offset-xl-1 col-sm-6 col-10 order-sm-2">
                    <div class="content-img">
                        <img src="{% static '/image/content-image-2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-5  col-sm-6 order-sm-1">
                    <div class="content-left-content">
                        <h2>#DifundeElMensaje. Comparte la iniciativa</h2>
                        <p>
                            ¿Conoces una localidad vulnerable o alguien que quiera ayudar? ¡Difunde nuestro mensaje! <3
                        </p>
                        <ul class="content-list">
                            <li>
                                <span><i class="icon icon-check-2"></i></span>Registra localidades vulnerables
                            </li>
                            <li>
                                <span><i class="icon icon-check-2"></i></span>Sé voluntario de esta iniciativa
                            </li>
                            <li>
                                <span><i class="icon icon-check-2"></i></span>Difunde este mensaje entre tus amigos y conocidos que pueden y desean ayudar :D
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
  <section class="content-section-03">
        <div class="shape">
                <img src="{% static '/image/landing-4.svg' %}" alt="">
            </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6 col-10">
                    <div class="content-img">
                        <img src="{% static '/image/content-image-3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-5  offset-xl-1 col-lg-6 col-md-7 col-sm-6 ">
                    <div class="content-left-content">
                        <h2>Sé un Héroe</h2>
                        <p>
                            Apoyar esta camapaña no solo puede ayudarnos a combatir este Guerra, también puede convertirte en #UnHéroe que el Perú necesita.
                        </p>
                        <div class="content-bottom-part">

                          <div class="content-btn">
                            <a href="#ayuda" class="btn btn--primary">Apoyar <3</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>



<!-- Footer Section 06 -->
<div class="footer-section" id="ayudar">
    <div class="container">
        <div class="footer-newsletter-section">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="footer-newsletter-content">
                        <h2>Ayuda de la forma más fácil</h2>
                        <p>Escríbenos o llámanos al {{ nosotros.celular }} para conocer mejor la forma en la que deseas ayudar o déjanos tu correo y nos contactaremos contigo <3</p>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6">
                    <div class="footer-newsletter-form">
                      <form action="{% url 'landing:ayudar' %}"  method="POST">
				        {% csrf_token %}
                            <div class="form-group">
                              <input type="text" class="form-control" name="phone" placeholder="Ingresa tu número aquí">
                              <button class="submit-btn" type="submit">Sumarme</button>
                            </div>
                            <p class="form-text"><i class="icon icon-lock"></i>Tu información está protegida y nunca te enviaremos mensajes spam</p>
                      </form>
                    </div>
                </div>
            </div>
          </div>

          <div class="row margin-decrese">
            <div class="col-xl-4 col-lg-5 col-margin">
              <div class="single-footer">
                <div class="footer-title">
                  {% if nosotros.logo.url != None %}
                        <a href=""><img src="{{ nosotros.logo.url }}" alt="" /></a>
                        {% else %}
                        <h3>Ollas Comunes</h3>
                        {% endif %}
                </div>
                <div class="footer-text">
                  <p>{{ nosotros.acerca_de_nosotros }} </p>
                </div>
                <ul class="footer-social-list">
                    <li>
                        {% if nosotros.facebook != None %}
                      <a href="{{ nosotros.facebook }}">
                        <i class="icon icon-logo-fb-simple"></i>
                      </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if nosotros.twitter != None %}
                        <a href="{{ nosotros.twitter }}">
                          <i class="icon icon-logo-twitter"></i>
                        </a>
                        {% endif %}
                      </li>
                      <li>
                          {% if nosotros.email != None %}
                          <a href="mailto:{{ nosotros.email }}">
                            <i class="icon icon-email-84"></i>
                          </a>
                          {% endif %}
                        </li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <h6>Menú</h6>
                      </div>
                      <ul class="footer-list">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#why">Por qué Ayudar</a></li>
                        <li><a href="#how">Cómo ayudar</a></li>
                      </ul>
                </div>
            </div> 
            <div class="col-lg-2 col-sm-4 col-6 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <h6>Soporte</h6>
                      </div>
                      <ul class="footer-list">
                        <li><a href="">Contáctanos</a></li>
                      </ul>
                </div>
            </div>  
            <div class="col-lg-2 col-sm-4 col-margin">
                <div class="single-footer">
                    <div class="footer-title">
                        <h6>¿Qué puedo hacer?</h6>
                      </div>
                      <ul class="footer-list">
                        <li><a href="{% url 'landing:registrar'%}">Registrar mi vecindad</a></li>
                        <li><a href="#ayudar">Ayudar</a></li>
                      </ul>
                </div>
            </div> 
          </div>
    </div>
  </div>
</div>
  <!-- Vendor JS-->
  <script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/plugins/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static '/plugins/bootstrap-4.3.1/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static '/plugins/meanmenu/jquery.meanmenu.js' %}"></script>
  <!-- Plugins JS -->
  <script src="{% static '/js/active.js' %}"></script>
    <!--====== Morphtext rotating text in the header ======-->
    <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
<script>
    $(function() {
    jQuery("#js-rotating1").Morphext({
    animation: "fadeIn",
    separator: ",",
    speed: 2500,
    complete: function () {
    }
    });
    });
    </script>
    <script>
    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
    </script>
</body>

</html>